@import "../../styles/abstract/constants.scss";
@import "../../styles/abstract/mixins.scss";

.contact-us-small {
  background-color: $main-orange;
  display: flex;
  position: relative;

  width: 552px;
  height: 312px;

  flex-direction: column;
  align-items: center;
  padding: 52px 0;

  &__title {
    @include font;
    font-size: 25px;
    line-height: 1.2;
    font-weight: 500px;
    margin: 0 0 24px;
  }

  &__input {
    @include input;
    @include text-medium;
    margin-bottom: 12px;

    &:last-of-type {
      margin: 0;
    }
  }

  &__submit-btn {
    @include font;
    @include text-medium;
    width: 168px;
    height: 40px;
    margin-top: 20px;
    border: none;
    border-radius: 24px;
    background-color: $button-backgroud;
    cursor: pointer;
    transition: 1s;
    &:hover {
      opacity: 0.7;
    }
  }
}
