@import "../../styles/abstract/mixins.scss";
@import "../../styles/abstract/constants.scss";

.navigation-adress {
  display: block;
  margin: 24px auto 0;
  text-align: start;
  height: 32px;

  &__item {
    @include text-medium;
    text-decoration: none;
    cursor: pointer;
    color: black;
  }

  span {
    cursor: default;
  }
}
