.logo {
  position: relative;
  width: 146px;
  height: 60px;
  margin-right: 12px;
  background-image: url("./images/logoLight.png");
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;

  &__brick1 {
    position: absolute;
    top: 2px;
    left: 1px;
    animation: brick1 4s infinite linear;
  }
  &__brick2 {
    position: absolute;
    top: 2px;
    left: 30px;
    animation: brick2 4s infinite linear;
  }
  &__brick3 {
    position: absolute;
    top: 13px;
    left: 1px;
    animation: brick3 4s infinite linear;
  }
  &__brick4 {
    position: absolute;
    top: 13px;
    left: 30px;
    animation: brick4 4s infinite linear;
  }
  &__brick5 {
    position: absolute;
    top: 24px;
    left: 1px;
    animation: brick5 4s infinite linear;
  }
  &__brick6 {
    position: absolute;
    top: 24px;
    left: 30px;
    animation: brick6 4s infinite linear;
  }
  &__brick7 {
    position: absolute;
    top: 35px;
    left: 1px;
    animation: brick7 4s infinite linear;
  }
  &__brick8 {
    position: absolute;
    top: 35px;
    left: 30px;
    animation: brick8 4s infinite linear;
  }
  &__brick9 {
    position: absolute;
    top: 46px;
    left: 1px;
    animation: brick9 4s infinite linear;
  }
  &__brick10 {
    position: absolute;
    top: 46px;
    left: 30px;
    animation: brick10 4s infinite linear;
  }
}
@keyframes brick10 {
  0% {
    top: -12px;
  }
  5% {
    top: -12px;
  }
  10% {
    top: 29px;
  }
  15% {
    top: 46px;
  }
  100% {
    top: 46px;
  }
}
@keyframes brick9 {
  0% {
    top: -12px;
  }
  10% {

    top: -12px;
  }
  15% {
    top: 29px;
  }
  20% {
    top: 46px;
  }
  100% {
    top: 46px;
  }
}
@keyframes brick8 {
  0% {
    top: -12px
  }
  15% {
    top: -12px;
  }
  20% {
    top: 24px;
  }
  25% {
    top: 35px;
  }
  100% {
    top: 35px;
  }
}
@keyframes brick7 {
  0% {
    top: -12px;
  }
  20% {
    top: -12px;
  }
  25% {
    top: 24px;
  }
  30% {
    top: 35px;
  }
  100% {
    top: 35px;
  }
}
@keyframes brick6 {
  0% {
    top: -12px;
  }
  25% {
    top: -12px;
  }
  30% {
    top: 5px;
  }
  35% {
    top: 24px;
  }
  100% {
    top: 24px;
  }
}
@keyframes brick5 {
  0% {
    top: -12px;
  }
  30% {
    top: -12px;
  }
  35% {
    top: 5px;
  }
  40% {
    top: 24px;
  }
  100% {
    top: 24px;
  }
}
@keyframes brick4 {
  0% {
    top: -12px;
  }
  35% {
    top: -12px;
  }
  40% {
    top: 1px;
  }
  45% {
    top: 13px;
  }
  100% {
    top: 13px;
  }
}
@keyframes brick3 {
  0% {
    top: -12px;
  }
  40% {
    top: -12px;
  }
  45% {
    top: 1px;
  }
  50% {
    top: 13px;
  }
  100% {
    top: 13px;
  }
}
@keyframes brick2 {
  0% {
    top: -12px;}

  45% {
    top: -12px;
  }
  50% {
    top: -5px;
  }
  55% {
    top: 2px;
  }
  100% {
    top: 2px;
  }
}
@keyframes brick1 {
  0% {
    top: -12px;
  }
  50% {
    top: -12px;
  }
  55% {
    top: -5px;
  }
  60% {
    top: 2px;
  }
  100% {
    top: 2px;
  }
}
