@import "../../styles/abstract/mixins.scss";
.catalog-item {
  background-color: #f5f4ef;
  width: 1138px;
  height: 416px;
  padding: 54px;
  display: grid;
  grid-template-columns: 244px minmax(0px, 200px) 170px 234px;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "image title title title"
    "image keys values prise"
    "text text text text";
  text-align: start;
  gap: 24px;

  &__image {
    width: 244px;
    height: 244px;
    grid-area: image;
  }
  &__title {
    @include text-large;
    color: #070707;
    grid-area: title;
    margin: 0;
    text-align: start;
    white-space: nowrap;
  }

  &__keys {
    list-style: none;
    grid-area: keys;
    padding: 0;
  }
  &__key {
    @include text-medium;
    color: #070707;
    white-space: nowrap;
  }
  &__key_invisible {
    display: none;
  }
  &__values {
    list-style: none;
    grid-area: values;
    padding: 0;
  }
  &__value {
    @include text-medium;
    color: #070707;
    font-weight: 700;
    white-space: nowrap;
  }
  &__prise-container {
    background-color: #ffff;
    border: 1px solid #da9255;
    width: 222px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__prise-container_prise-only {
    grid-area: keys;
  }

  &__prise {
    @include text-large;
    color: #da9255;
    grid-area: prise;
    margin: 0;
  }
  &__prise_black {
    color: #000;
  }

  &__prise-date {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #000;
    margin: 0;
  }
  &__span {
    @include text-medium;
    color: #da9255;
    grid-area: text;
    margin: 0;
  }
}
