@import "../../styles/abstract/mixins.scss";
@import "../../styles/abstract/constants.scss";

.contacts {
  color: black;
  padding: 0 156px;

  &__title {
    @include text-large;
    text-align: center;
    margin: 52px 0 40px;
  }

  &__info-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__order {
    @include text-medium;
    margin: 40px auto;
    font-weight: 700;
  }
}

.info-item {
  width: 264px;
  min-height: 160px;
  padding: 20px;
  background-color: #edf1f3;

  &__title {
    @include text-large;
    margin: 0 0 8px;
  }

  &__text {
    @include text-medium;
    margin: 0;
    text-align: start;
  }
}
